
.shifting{
    align-items: center;
    justify-content: center;
}
.outside{
    height: 200px;
    width: 200px;
    margin:5px;
    display:flex;
}
.image{
    height:200px;
    width:200px;
    object-fit:cover;
    align-items: center;
    border-radius: 50%;
    border:2px solid rgba(229, 145, 10, 0.945);
   
}
lbody{
    background-size: cover;
        background-image: url('background.jpg');
        background-repeat: no-repeat;
        background-size:cover;
        background-attachment: fixed;
        height:500px;
}
.faria{
    color:chocolate;
}
.main{
    color:#00008B
}
.second{
    height:10px;
    text-align: center;
    color:rgb(188, 24, 114);
}
.logo{
    display: flex;
    gap:10px;
    height:   5px;
    width: 5px;
    align-items: center;
    
}
/* Mobile View */
@media only screen and (max-width: 768px) {
    .image {
      width: 100%;
      height: auto;
    }
  }
  .coll{
    height:40px;
    weight:40px;
  }

  
